Checks: >
  abseil-*,
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-nodiscard,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -misc-non-private-member-variables-in-classes,
  -performance-unnecessary-value-param,
  -bugprone-easily-swappable-parameters,
  -bugprone-unused-return-value,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -readability-use-anyofallof,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-magic-numbers,


HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: "true"
  - key: llvm-namespace-comment.SpacesBeforeComments
    value: "2"
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: "true"
  - key: readability-uppercase-literal-suffix.NewSuffixes
    value: "f"
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
