Checks: >
  abseil-*,
  boost-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cert-err58-cpp,
  -modernize-use-nodiscard,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-pass-by-value,
  -modernize-avoid-c-arrays,
  -misc-non-private-member-variables-in-classes,
  -performance-unnecessary-value-param,
  -bugprone-easily-swappable-parameters,
  -bugprone-unused-return-value,
  -bugprone-macro-parentheses,
  -readability-identifier-length,
  -readability-use-anyofallof,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,


HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: "true"
  - key: llvm-namespace-comment.SpacesBeforeComments
    value: "2"
  - key: readability-implicit-bool-conversion.AllowPointerConditions
    value: "true"
  - key: readability-uppercase-literal-suffix.NewSuffixes
    value: "f"
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
