# Visual Studio Code
/.vscode*

# vcpkg
/.vcpkg*

# cache
/.*cache

# github workflows
/.github*

# CMake build outputs
/build*

# tests
/docs*

# gateway
/gateway*

# dist
/dist/*

# python
/*.egg-info/
/scalellm/*.pyd
/scalellm/*.so
**/__pycache__/*
