# Visual Studio Code
/.vscode*

# CMake
/build*

# vcpkg
/.vcpkg*

# cache
/.*cache

# libtorch
/libtorch

# tests
/Testing*

# rust
Cargo.lock


# distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python module builds
*.egg-info/
scalellm/*.pyd
scalellm/*.so
**/__pycache__/*