# Visual Studio Code
/.vscode*

# CMake
/build*

# vcpkg
/.vcpkg*

# clangd cache
/.cache*

# ccache
/.ccache*

# libtorch
/libtorch

# tests
/Testing*

# rust
Cargo.lock


# distribution / packaging
.Python
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST