[submodule "third_party/vllm"]
	path = third_party/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "src/kernels/cutlass"]
	path = src/kernels/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "third_party/flashinfer"]
	path = third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
