name: Release
on:
# Release scalellm on creation of tags to https://hub.docker.com/r/vectorchai/scalellm
# Push events to matching v*, i.e. v1.0.0, v1.0.0-rc1, v20.15.10-rc5, etc.
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  # extract version from tag
  version-tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.version.outputs.tag }}
    steps:
      - name: Extract version from tag
        id: version
        run: echo "tag=$(echo ${{ github.ref }} | sed -n 's/refs\/tags\///p')" >> $GITHUB_OUTPUT

  # publish wheel to pypi if wheel builds successfully
  publish-wheel:
    needs: version-tag
    uses: ./.github/workflows/publish_pypi.yml
    with:
      tag: ${{ needs.version-tag.outputs.tag }}
    secrets: inherit

  # build wheel for release if tests pass
  build-release:
    needs: publish-wheel
    uses: ./.github/workflows/create_release.yml
    with:
      tag: ${{ needs.version-tag.outputs.tag }}
    secrets: inherit
